*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navbar */

.navbar-lists{
  align-items: center;
}

.navbar p{
  cursor: pointer;
}

.navbar-lists input{
  width: 25rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4rem 0.4rem;
  outline: none;
  border-radius: 0.2rem;
  border: none;
}

/* Sidebar */

.sidebar-container{
  position: fixed;
  top: 4rem;
  left: 0;
  height: 100%;
  border-right: solid 1px rgb(196, 192, 192);
  grid-area: sidebar;
}

.sidebar-lists{
  list-style: none;
  padding: 0.6rem 0;
}

.sidebar-item{
  
  font-size: 1.2rem;
}

.sidebar-item a{
  display: inline-block;
  padding: 1rem 3.5rem 1rem 1rem;
  text-decoration: none;
  color: rgb(82, 80, 80);
  font-weight: bold;
}

.sidebar-item i{
  margin: 0 1rem;
}

.sidebar-item:hover{
  background-color: rgba(196, 192, 192, 0.3);
}

/* Login */

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25rem;
  margin: 6rem auto;
  padding: 0.5rem 0;
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 0 0 10px rgba(31, 31, 39, 0.2);
}

.disabled-btn{
  opacity: 0.7;
  cursor: not-allowed;
}

.login-container input{
  width: 90%;
  margin: 0.5rem 0;
}

.login-container button{
  margin: 0.5rem 0;
  width: 90%;
}

.login-container h2{
  margin: 0.5rem 0;
  color: rgb(68, 69, 74);
}

.login-container small{
  color: rgba(68, 69, 74, 0.767);
  font-weight: bold;
  margin: 0.5rem;
}

.login-container span{
  color: #3d41d7;
  cursor: pointer;
}


.password-field{
  position: relative;
  width: 90%;
}

.password-field input{
  width: 100%;
  padding-right: 2rem;
}

.password-field i{
  position: absolute;
  top: 1.25rem;
  right: 0.5rem;
}


/* Ask TO Login Modal */

.login-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(106, 106, 106, 0.6);
}

.login-modal-container{
  position: fixed;
  top: 45%;
  z-index: 4;
  width: fit-content;
  background: #fff;
  padding: 1rem;
  border-radius: 0.2rem;
}

.login-modal-container p{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(54, 54, 54);
}

.login-modal-container div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-modal-container .primary-btn{
  margin: 0 0 0 1rem;
}

.login-modal-container button{
  width: 7rem;
}


 /* Home Video List */ 

.videolist-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  grid-area: video;
  margin: 1.5rem 1rem;
}

/* Video Card */

.videocard-container{
  width: 16.3rem;
}

.videocard-container:hover{
  background: rgba(228, 225, 225, 0.705);
}

.thumbnail{
  cursor: pointer;
  width: 16.2rem;
}

.positioned{
  width: 16rem;
}

.positioned{
  position: relative;
}

.positioned .img-container{
  width: 16.2rem;
  height: 9rem;
  background: rgba(196, 192, 192, 0.7);
}

.watch-later-btn{
  position: absolute;
  top: 0.2rem;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  opacity: 0;
}

.playlist-btn{
  position: absolute;
  top: 2rem;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  opacity: 0;
}

.positioned:hover .watch-later-btn{
  opacity: 1;
}

.positioned:hover .playlist-btn{
  opacity: 1;
}

.normal-img{
  width: 45px;
  height: 45px;
}

.videocard-info{
  margin: 0.5rem;
  display: flex;
  position: relative;
}



.duration{
  position: absolute;
  top: -2.1rem;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 0.15rem;
}


.videocard-text{
  display: flex;
  flex-direction: column;
  margin: 0 0 0.1rem 0.5rem;
}

.title{
  font-size: 0.9rem; 
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  width: 12.5rem;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.title:hover{
  color: #3d41d7;
}

.channel-name{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: rgb(110, 109, 109);
}

.time{
  font-size: 0.8rem;
  color: rgb(110, 109, 109);
}

/* grid */

.grid{
  display: grid;
  grid-template-columns: 0.9fr 4.1fr;
  grid-template-areas:
      "sidebar video video"
      "sidebar video video"
      "sidebar video video";
}

/* Skeleton */

/*  Skeleton Card */

.skeleton-container{
  position: relative;
  width: 16.2rem;
  height: 13rem;
  background: transparent;
  animation: shine 2s ease infinite;
}

.skt-thumbnail{
  background-color: rgba(196, 192, 192, 0.7);
  width: 16rem;
  height: 8.5rem;
  position: absolute;
}

.skt-channel-img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(196, 192, 192, 0.7);
  position: absolute;
  top: 70%;
  left: 0.4rem;
}

.skt-title{
  width: 11rem;
  height: 1.5rem;
  background-color: rgba(196, 192, 192, 0.7);
  position: absolute;
  top: 70%;
  left: 4rem;
}

.skt-channelname{
  width: 8rem;
  height: 1rem;
  background-color: rgba(196, 192, 192, 0.7);
  position: absolute;
  top: 84%;
  left: 4rem;
}

@keyframes shine {
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.7;
  }
}

/* Skeleton Player */

.skt-player-container{
  position: relative;
  width: 53.8rem;
  animation: shine 2s ease infinite;
}

.skt-player{
  position: absolute;
  width: 100%;
  height: 30rem;
  background: rgba(196, 192, 192, 0.7);
}

.skt-details{
  position: absolute;
  width: 40rem;
  height: 2rem;
  background: rgba(196, 192, 192, 0.7);
  bottom: -2.5rem;
}

.skt-others{
  position: absolute;
  width: 20rem;
  height: 1rem;
  background: rgba(196, 192, 192, 0.7);
  bottom: -4rem;
}

/* Skeleton Horizontal Card */

  .skt-hz-card-container{
    animation: shine 2s ease infinite;
    margin: 1rem;
  }

  .skt-page-title{
    width: 10rem;
    height: 1.5rem;
    background: rgba(196, 192, 192, 0.7);
    margin-bottom: 1.5rem;
  }

  .skt-hz-card{
    width: 38rem;
    height: 9.2rem;
    background: rgba(196, 192, 192, 0.7);
    margin: 1.2rem 0;
  }

/* Loader */
.screen-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(106, 106, 106, 0.6);
}

.loader{
  width: 1.44rem;
  height: 1.44rem;
  border-radius: 50%;
  margin: -2.5px auto;
  animation: rotate 0.9s linear infinite;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* Profile card */

.profile-container{
  position: relative;
}

.profile-backdrop{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: transparent;
}

.profile-card{
  position: fixed;
  top: 5.2rem;
  right: 0.7rem;
  z-index: 5;
  background: #fff;
  padding: 1rem;
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 0 0 6px rgb(31, 31, 39, 0.5);
  width: 16rem;
  height: 8rem;
}

.profile-card button{
  width: 100%;
}

.user-info p{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(68, 69, 74);
}

.user-info h3{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(68, 69, 74);
}

.user-info span{
  color: #3d42d7;
  text-transform: uppercase;
}

.user-info button{
  margin: 1rem 0 0 0;
  width: 100%;
}


/* video-player */

.video-page{
  width: 97%;
  margin: 1rem 2rem;
  display: flex;
}

.video-player{
  width: 65%;
  height: 30rem;
}

.video-player iframe{
  width: 100%;
  height: 30rem; 
  background: #000;
}

.notes-container{
  width: 30%;
  height: 30rem;
  margin: 0 0 0 2rem;
}

.notes-container .notes-list{
  width: 100%;
  height: 27.5rem;
  background: #DDD;
  overflow-y: scroll;
}

.notes-items{
  position: relative;
  background: #fff;
  width: 90%;
  margin: 0.8rem 1rem;
  padding: 0.5rem 2.1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #000;
}

.notes-text{
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  font-weight: bold;
}

.notes-container input{
  width: 100%;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}


.video-details{
  margin: 0.8rem;
}

.video-title{
  font-size: 1.2rem;
}

.video-action{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(110, 109, 109);
  margin: 0.5rem 0;
}

.video-action p{
  font-size: 0.9rem;
}

.video-action div{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-action span{
  font-size: 1rem;
}

.liked-video{
  color: #3d41d7;
}

.video-action i{
  font-size: 1.3rem;
}

/* Horizontal Card */

.hz-card{
  display: flex;
  width: 38.5rem;
  margin: 0.5rem 0;
}

.hz-card:hover{
  background: rgb(233, 230, 230); 
}

.remove-modal-btn{
  opacity: 0;
}

.hz-card:hover .remove-modal-btn{
  opacity: 1;
}

.remove-modal-btn button{
  width: 0.5rem;
  color: rgb(110 109 109 / 84%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.description{
  color: rgb(110, 109, 109);
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
  flex: 1;
}

.hzvideocard-text{
  width: 20rem;
  margin: 0 0.5rem;
}

.hz-duration{
  position: absolute;
  bottom: 0;
  left: -4rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.page-title{
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.empty-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 3rem;
  margin: 4rem 0;
  color: rgba(82, 80, 80, 0.8);
}

.empty-page i{
  font-size: 7rem;
  margin-top: 1rem;
}

.page-cards{
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem;
}

/*  Griding pages */

.page-grid{
  grid-area: video;
}


/* Playlist modal */

.playlist-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(106, 106, 106, 0.6);
}

.playlist-container{
  min-width: 15rem;
  background: #fff;
  border-radius: 0.2rem;
  position: relative;
  z-index: 3;
}

.playlist-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(126, 123, 123, 0.575);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem;
}

.playlist-items{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.1rem;
  border-bottom: solid 1px rgba(126, 123, 123, 0.575);
}

.playlist-items input{
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
}

.playlist-items label{
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.create-btn{
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.create-btn:hover{
  background: rgba(175, 187, 209, 0.219);
}

.create-playlist{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.create-playlist button{
  width: 8rem;
  margin: auto;
}

.create-playlist .text-input{
  max-width: 12rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}


/* Playlist Card */

.playlists{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-area: video;
  margin: 1rem;
  width: 50%;
}


.playlist-box{
  position: relative;
  width: 16.2rem;
  height: 9.1rem;
  border: solid 1px #000;
  background: rgba(196, 192, 192, 0.3);
}

.playlist-box img{
  width: 16.07rem;
}

.overlay-text{
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 9rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-text p {
  font-size: 1rem;
  margin: 0.4rem 0;
}

.empty-playlist-box{
  margin: 3.5rem 1.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(82, 80, 80);
}

.playlist-card{
  position: relative;
}

.full-overlay{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-weight: bold;
  z-index: 3;
  width: 16.2rem;
  height: 9.1rem;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;

}

.full-overlay:hover{
  opacity: 1;
}

.delete-btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
}

.delete-btn p{
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.delete-btn button{
  color: rgb(110 109 109 / 84%);
  cursor: pointer;
  font-size: 1rem;
  padding: 0 0.1rem;
  border: none;
  background: none;
}

.remove-modal{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 4;
  background: #fff;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0 6px rgb(31 31 39 / 50%);
  border: 1px solid rgb(173, 173, 173);
  color: red;
  cursor: pointer;
}

.remove-modal i{
  margin: 0 0.5rem 0 0;
}

.backdrop{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
